# Plik wejściowy dla cichej instalacji MATLAB Runtime
destinationFolder={{ matlab_runtime_destination_folder }}
agreeToLicense=yes
outputFile=/var/log/matlab_runtime_{{ matlab_runtime_version }}_install.log
mode=silent